
        <script type='text/javascript'>
            $(document).ready(function(){

                // auto-epandable text area
                $("textarea").each(function () {
                }).on("input", function () {
                  this.style.height = "auto";
                  this.style.height = (this.scrollHeight) + "px";
                });


                /*add and remove examples*/
                $("#num").val($('#examples_qnt').val());
                var i = parseInt($('#examples_qnt').val()) + 1;
                $("#add_example").click(function(){
                    $(".examples").append("<div id='example"+ i +"' class='input-group' style='padding-bottom:1em;'><input form='form1' type='text' class='form-control' name='example"+ i +"' placeholder='Example' autocomplete='off' aria-describedby='basic-addon2'><div id='remove_example' class='input-group-append'><button id='remove_example' class='btn btn-outline-danger' type='button'>✕</button></div></div>");
                    i += 1;
                    $("#num").val(i);
                });
                $(document).on('click', '#remove_example', function(){
                    $(this).parent().parent().remove();
                });

                /*call API for image results*/
                const IMAGE_QUANTITY = 12;
                $(function() {
                    $('#show_images').bind('click', function() {
                        key = $('#word').val();
                        $.getJSON('/image_search', { keyword: key }, function(data) {
                            $('#images').html('');
                            for (i = 0; i < IMAGE_QUANTITY/2; i++){
                                $('#images').append("<div class='col-4 col-sm-4 col-md-4 col-lg-2 p-0'><img class='crop_img' src='" + data[i]['link'] + "' alt='" + data[i]['title'] + "'/></div>");
                            }
                        });
                    return false;
                    });
                });
                $(function() {
                    $('#show_images').bind('click', function() {
                        $.getJSON('/image_search2', { keyword: key }, function(data) {
                            for (i = 0; i < IMAGE_QUANTITY; i++){
                                $('#images').append("<div class='col-4 col-sm-4 col-md-4 col-lg-2 p-0'><img class='crop_img' src='" + data['value'][i]['url'] + "' alt='" + data['value'][i]['name'] + "'/></div>");
                            }
                        });
                    return false;
                    });
                });

                /*See image results for USER INPUT...*/
                setInterval(function(){
                    var word_input = $('#word').val();
                    if (word_input.length > 20) {
                      word_input = word_input.substring(0, 19) + "...";
                    }
                    $('#user_input').text(word_input)
                }, 50);







            // CONTENT


            $('loading').hide();
            $('#end').hide();
            // show
            $('#show').click(function(){
                $('#definition').css('visibility', 'visible');
                $('#examples').css('visibility', 'visible');
            });
            // definition
            $('#show_def').click(function(){
                $('#definition').css('visibility', 'visible');
            });
            // examples
            $('#show_ex').click(function(){
                $('#examples').css('visibility', 'visible');
            });
            // hide
            $('#hide').click(function(){
                $('#definition').css('visibility', 'hidden');
                $('#examples').css('visibility', 'hidden');
            });
            // NEXT
            $(function() {
                $('#next').bind('click', function() {
                    $.getJSON('/get_card', function(data) {
                        $('#previous').show();

                        $('#definition').css('visibility', 'hidden');
                        $('#examples').css('visibility', 'hidden');
                        $('#examples').html('');

                        $('#word').text(data['card'][2]);
                        $('#definition').text(data['card'][3]);

                        for (var i = 0; i < (data['examples'].length); i++){
                            $('#examples').append("<p>" +  data['examples'][i] + "</p>");
                        }
                        })
                        .fail(function() {
                            $('#actual_card').hide();
                            $('#end').show();
                            $('#next').hide();
                            $('#previous').show();

                            // stop timer
                            clearInterval(timer);

                            // animate timer
                            $('#timer').css({'color': '#ffb400'});
                            $('#timer').animate({
                                left: 200,
                                bottom: 200
                            }, 250);

                         });
                return false;
                });
            });
            // PREVIOUS
            $(function() {
                $('#previous').bind('click', function() {
                    $.getJSON('/get_card', {left: true}, function(data) {
                        if (!data['card_left']) {
                            $('#previous').hide();
                        } else {
                            $('#previous').show();
                        }
                        $('#end').hide();
                        $('#actual_card').show();
                        $('#next').show();

                        $('#definition').css('  visibility', 'hidden');
                        $('#examples').css('visibility', 'hidden');
                        $('#examples').html('');

                        $('#word').text(data['card'][2]);
                        $('#definition').text(data['card'][3]);

                        for (var i = 0; i < (data['examples'].length); i++){
                            $('#examples').append("<p>" +  data['examples'][i] + "</p>");
                        }
                        $('#timer').animate({
                                left: 10,
                                bottom: 0,
                        }, 250);
                        })
                        .fail(function() {
                            $('#previous').hide();
                         });
                return false;
                });
            });


            });

        </script>


        <div id='content' style='display:none;'>
            <!--arrow left-->
            <a id='previous' style='display:none;' class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <!--arrow right-->
            <a id='next' class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>

            <div class='container col d-flex justify-content-center cont_plr_0'>

                <!--card-->
                <div id='actual_card' class='card study_card'>
                    <!--edit-->
                    <form id='edit_card' action='/edit_card' class='actions pt-1'>
                        <button class='btn btn-secondary'><i class='fas fa-pen'></i></button>
                    </form>
                    <div class='card-header pt-5'>
                        <h2 id='word' class="card-title text-center"></h2>
                    </div>
                    <div class='card-body'>
                        <p id='definition' class='card-text text-center'></p>
                    </div>
                    <div class='card-footer'>
                        <div id='examples' class='card-text text-left'>
                        </div>
                    </div>
                    <div class='card-footer'>
                        <div id='buttons' class='row'>
                            <button id='show_def' class='btn btn-dark col-12 col-md-2'>Show definition</button>
                            <button id='show_ex' class='btn btn-dark col-12 col-md-2'>Show examples</button>
                            <button id='show' class='btn btn-primary col-12 col-md-2'>Show all</button>
                            <button id='hide' class='btn btn-danger col-12 col-md-2'>Hide</button>
                        </div>
                    </div>
                </div>

                <!--end-->
                <div id='end' class='card study_card'>
                    <div class='card-header pt-3' style='color:#ffb400;'>
                        <h2 class="card-title text-center">Congrulations!</h2>
                    </div>
                    <div class='card-body text-center'>
                        <img class="card-img" draggable='false' src='../static/images/trophy.png' alt='Trophy award'/>
                        <h4 class='card-text'>All cards have been studied.<h4>
                        <h3 class='card-text'>Nothing else to study here.</h3>
                    </div>
                    <div class='card-footer' style='margin-bottom: .25em;'>
                        <h4 class='card-text text-muted text-center'>Click <a class='text-decoration-none' href='/add'>here</a> to add more cards.</h4>
                    </div>
                </div>
            </div>

            <h2 id='timer' class='border border-2 p-2' style='position:absolute;bottom:0px;left:10px;'></h2>
        </div>

        <div id='edit_content'>
            <div class="container" style="padding-left:1.25em;padding-right:1.25em;">
                    <form id="form1"></form>
                    <form id="form2" action='https://dictionary.cambridge.org/us/search/english/direct/?utm_source=widget_searchbox_source&utm_medium=widget_searchbox&utm_campaign=widget_tracking' target="_blank" method='get'></form>
                        <div class="row">
                            <!--WORD-->
                            <div class="col-sm">
                                {% if result and result['card'][2] %}
                                    <textarea form="form1" class='form-control' id="word" name="word" rows='2' placeholder='Word' autocomplete="off" style="width:100%;float:left;margin-bottom:.5em;margin-top:1.6em;">{{ result['card'][2] }}</textarea>
                                {% else %}
                                    <textarea form="form1" class='form-control' id="word" name="word" rows='2' placeholder='Word' autocomplete="off" style="width:100%;float:left;margin-bottom:.5em;margin-top:1.6em;"></textarea>
                                {% endif %}
                            </div>
                            <!--WIDGET-->
                            <div class="col-sm">
                                <table id='widget' style='font-size:10px;background:#292929;border-collapse:collapse;border-spacing:0;height:8em;width:100%;border-radius:5px;margin-bottom:.5em;margin-top:1.5em;' >
                                    <tbody>
                                        <tr>
                                            <td colspan='2' style='padding-left:.25em;background:none;border:none;'>
                                                <a href='https://dictionary.cambridge.org/us/' style='display:block; background: transparent url(https://dictionary.cambridge.org/us/external/images/freesearch/sbl.png?version=5.0.161) no-repeat 5px 6px;height:32px;'></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style='width:68px;background:none;border:none;padding:0;'>
                                                <input form="form2" class="form-control" style='width:100%;display:block;font-size:10px;border:none;border-radius: 0 0 0 4px' name='q' placeholder="Word in dictionary" autocomplete="off"/>
                                            </td>
                                            <td style='width:50px;background:none;border:none;padding:0;'>
                                                <input form="form2" class="form-control" style='width:100%;display:block;font-size:10px;border:none;background:#d0a44c;border-radius: 0 0 4px 0;' type='submit' value='Look it up' />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--DEFINITION-->
                        {% if result and result['card'][3] %}
                            <textarea form="form1" class='form-control' name="definition" rows='4' data-min-rows='4' placeholder='Definition' autocomplete="off" style="width:100%;margin-top:1em;margin-bottom:2em;">{{ result['card'][3] }}</textarea>
                        {% else %}
                            <textarea form="form1" class='form-control' name="definition" rows='4' data-min-rows='4' placeholder='Definition' autocomplete="off" style="width:100%;margin-top:1em;margin-bottom:2em;"></textarea>
                        {% endif %}

                        <!--EXAMPLES-->
                        <div class='examples'>
                            {% if result and result['examples'] %}
                                {% for example in result['examples'] %}
                                    <div id='example{{ loop.index }}' class='input-group' style='padding-bottom:1em;'>
                                        <textarea form='form1' type='text' class='form-control' name='example{{ loop.index-1 }}' rows='1' placeholder='Example' autocomplete='off' aria-describedby='basic-addon2'>{{ example }}</textarea>
                                        <div id='remove_example' class='input-group-append'>
                                            <button id='remove_example' class='btn btn-outline-danger' type='button'>✕</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!--ADD EXAMPLE-->
                        <button id="add_example" class="btn btn-light" style='color:#000000;'><i class="fas fa-tags"></i></button>
                        <!--ADD-->
                        <div class='text-center'>
                            <button class="btn btn-warning mt-4" form="form1" type="Submit">Edit card</button>
                            <form id='delete_card'>
                                <button class="btn btn-danger mt-4" type="Submit">Delete card</button>
                            </form>
                        </div>
            </div>

            <!--MESSAGE-->
            <div id="msg">
                <p style="text-align:center;font-size:18px;">{{ message }}</p>
            </div>

            <!--Google Search Engine API
            <script async src="https://cse.google.com/cse.js?cx=452489de23ea9b010"></script> <div class="gcse-search"></div>
            -->
            <!--Show-image button-->
            <div class='container' style='padding-top:0;padding-left:1.25em;padding-right:1.25em;'>
                <div class='btn-group mb-4'>
                    <button id='show_images' class="btn btn-light me-2"><span class='far fa-image'></span></button>
                    <p id='see_image_text'>See image results for <span id='user_input'></span></p>
                </div>
            </div>

            <!--Image row-->
            <div class='container-fluid'>
                <div id='images' class="row mb-4">

                </div>
            </div>
        </div>
