<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        <link href="/static/images/favicon.ico" rel="icon">

        <!-- title -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Ajax -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Fontawesome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!-- my CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        {% block script %}
        {% endblock %}


        <script>
            $(document).ready(function() {
                $("nav [href]").each(function() {
                if (this.href == window.location.href) {
                    $(this).addClass("active");
                    }
                });
             });
            document.addEventListener("DOMContentLoaded", function(){

              el_autohide = document.querySelector('.autohide');

              // add padding-top to bady (if necessary)
              navbar_height = document.querySelector('.navbar').offsetHeight;
              document.body.style.paddingTop = navbar_height + 'px';

              if(el_autohide){
                var last_scroll_top = 0;
                window.addEventListener('scroll', function() {
                      let scroll_top = window.scrollY;
                     if(scroll_top < last_scroll_top) {
                          el_autohide.classList.remove('scrolled-down');
                          el_autohide.classList.add('scrolled-up');
                      }
                      else {
                          el_autohide.classList.remove('scrolled-up');
                          el_autohide.classList.add('scrolled-down');
                      }
                      last_scroll_top = scroll_top;
                });
                // window.addEventListener
              }
              // if

            });

        </script>

    </head>
    <body>
        <header>
            {% if user %}
                <!-- fixed bar -->
                <nav class="autohide navbar fixed-top navbar-expand navbar-light bg-light">

                    <!--logo-->
                    <a id='logo' class="navbar-brand" href="/"><img draggable='false'src="../static/images/logo.png" style="width:2em;">&nbspBearing</a>

                    <!--button-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class='nav-item pl-2 pr-2'>
                                <a class="nav-link" href="/add">Add</a>
                            </li>
                            <li class='nav-item pl-2 pr-2'>
                                <a class="nav-link" href="/study">Study</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto pl-2 pr-2">
                            <li class='nav-item'>
                                <a class="nav-link" href="/user/{{ user[1] }}">
                                <span id='username-nav'>{{ user[1] }}&nbsp</span>
                                {% if user[4] %}
                                    <img class='user_icon' class='rounded-circle border border-primary border-2' src={{ user[4] }}/>
                                {% else %}
                                    <img class='user_icon' class='rounded-circle border border-primary border-2' src='../static/images/user.png'/>
                                {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endif %}
            {% if not user %}
                <!-- fixed bar -->
                <nav class="navbar fixed-top navbar-expand navbar-light bg-light">

                    <!--logo-->
                    <a id='logo' class="navbar-brand" href="/"><img draggable='false'src="../static/images/logo.png" style="width:2em;">&nbspBearing</a>

                    <!--button-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class='nav-item'>
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class='nav-item'>
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endif %}
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer class='bg-light text-muted'>
            <div class="container p-3">
                <section class="text-center mb-5">
                    <a class='btn btn-outline-dark btn-floating rounded-circle m-1' target='_blank' href='https://linkedin.com/in/opedroporto' role='button'>
                        <i class='fab fa-linkedin'></i>
                    </a>
                    <a class='btn btn-outline-dark btn-floating rounded-circle m-1' target='_blank' href='https://instagram.com/pedroporto._' role='button'>
                        <i class='fab fa-instagram'></i>
                    </a>
                    <a class='btn btn-outline-dark btn-floating rounded-circle m-1' target='_blank' href='mailto:portopdr@gmail.com' role='button'>
                        <i class='fab fa-google'></i>
                    </a>
                    <a class='btn btn-outline-dark btn-floating rounded-circle m-1' target='_blank' href='https://github.com/opedroporto' role='button'>
                        <i class='fab fa-github'></i>
                    </a>
                </section>
                <section class='gray'>
                    <div class='row text-center '>
                        <div class='col-md-4 col-lg-4 col-xl-4 pl-5 pr-5'>
                            <a id='logo' class="navbar-brand mb-3" href="/"><img draggable='false'src="../static/images/logo.png" style="width:2em;">&nbspBearing</a>
                            <p style='font-size:18px'>Our goal is to help you learning a new language by using our platform to organize and study with your flash cards.</p>
                        </div>
                        <div class='col-md-4 col-lg-4 col-xl-4 pt-3'>
                            <h5 class='fw-bold mb-3'>Links</h5>

                            <a class="nav-link p-0 m" href="/"><p class='mb-3'>Home</p></a>
                            <a class="nav-link p-0" href="/add"><p class='mb-3'>Add</p></a>
                            <a class="nav-link p-0" href="/study"><p class='mb-3'>Study</p></a>
                            <a class="nav-link p-0" href="/profile"><p class='mb-3'>Profile</p></a>
                        </div>
                        <div class='col-md-4 col-lg-4 col-xl-4 pt-3'>
                            <h5 class='fw-bold mb-3'>Contact</h6>

                            <p><i class='fas fa-envelope me-2'></i>bearing.contact@gmail.com</p>
                            <p><i class='fas fa-envelope me-2'></i>portopdr@gmail.com</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class='text-center p-1  mt-4' style='background-color: rgba(0, 0, 0, .1);'>
                <p class='mb-1'>Made by Pedro Porto.</p>
                <!--p class='mb-1'>Presented as my <a class='text-reset fw-bold' target='_blank' href='https://cs50.harvard.edu/x/2021'>CS50x's</a>
                final project.</p-->
            </div>
        </footer>
    </body>
</html>
