<html lang='en'>
    <head>
        <!-- meta tags -->
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

        <!-- title -->
        <title>Register your Bearing account</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Ajax -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Fontawesome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!-- my CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}"/>

        <script>
            $(document).ready(function(){
                $('body').on('keydown', 'input, select', function(e) {
                    if (e.which === 13 && ($(this).is('#username') || $(this).is('#password'))) {
                        var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
                        focusable = form.find('input').filter(':visible');
                        next = focusable.eq(focusable.index(this)+1);
                        if (next.length) {
                            next.focus();
                        }
                        return false;
                    }
                    });
            });
        </script>

    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <!--card header-->
                        <div class="card-header">
                            <h1>Register</h1>
                        </div>
                        <!--card body-->
                        <div class="card-body">
                            <form action="/register" method="POST">
                                <!--username-->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input id="username" type="text" class="form-control" name="username" placeholder="username" autofocus autocomplete="off">
                                </div>
                                <!--password-->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password" placeholder="password" autocomplete="off">
                                </div>
                                <!--password confirmation-->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input id="confirmation" type="password" class="form-control" name="confirmation" placeholder="confirm password" autocomplete="off">
                                </div>
                                <!--register button-->
                                <div class="form-group">
                                    <input class="btn btn-primary float-right login_btn" type="submit" value="Register">
                                </div>

                                <!--ERROR MESSAGE-->
                                <p id="msg">{{ message }}</p>

                            </form>
                        </div>
                        <!--card footer-->
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Already have an account?&nbsp<a href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>